.home-header {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  z-index: 1;
}

.cv-button {
  padding: 25px;
}
.cv-button a {
  color: black;
  font-size: 19px;
  text-decoration: none;
  border-radius: 5px;
}

.hidden-navbar {
  display: none;
}


@media (min-width: 600px) {
  .logo {
    max-width: 200px;
  }
}
